<h1><a href="{{ root_url }}/">{{ site.title }}</span></a></h1>
<h4><span class="head-cursor">λ {{site.subtitle}}<span class="blink_me">_</span></h4>
<nav id="main-nav">{% include navigation.html %}</nav>
<nav id="mobile-nav">
	<div class="alignleft menu">
		<a class="button">Menu</a>
		<div class="container">{% include navigation.html %}</div>
	</div>
	<div class="alignright search">
		<a class="button"></a>
		<div class="container">
			<form action="{{ site.simple_search }}" method="get">
				<input type="text" name="q" results="0">
				<input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}">
			</form>
		</div>
	</div>
</nav>

<script type="text/javascript">
$(function(){ 
   $('#head-cursor')
   	.css({ color:'' })
   	.addClass('blink');
});
</script>

<style ="text/css">
.head-cursor {
	color:#10a0e3;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
</style>

{% include custom/header.html %}
